<h1> Sign Up <h1>

<form action= "<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label>
    Email
      <input type="text" name="users[email]" value="">
  </label>


  <label>
    Password
    <input type="password" name="users[password]" value="">
  </label>

  <input type="submit" name="" value="Sign Up">

</form>
